apiVersion: v1
kind: Service
metadata:
  name: chat-service
  namespace: blinx-chat
  labels:
    app: chat-service
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: chat-service