# Ignore build artifacts and dependencies
target/
node_modules/
dist/
build/
*.log
*.tmp
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.git/
.github/
.gitignore
**/Dockerfile*
**/docker-compose*
README.md
HELP.md
mvnw
mvnw.cmd
.mvn/
src/test/
k8s/
ss/
frontend-v1/
