spring:
  application:
    name: chat-service

  data:
    mongodb:
      # Here write container/service name instead of localhost inside Docker.
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://mongo:27017/blink_chat}
      # example for Docker Compose: SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/blink_chat
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      password: ${SPRING_DATA_REDIS_PASSWORD:}

  mail:
    host: ${SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /

jwt:
  secret: ${JWT_SECRET:2e804WBYw6Ke/fBUrvcmS9CHUeZK9uLzUw1A4qbh8vY=}
  expiration: ${JWT_EXPIRATION:86400000}          # 24 hours
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:2592000000}  # 30 days

app:
  otp:
    length: ${APP_OTP_LENGTH:6}
    expiration: ${APP_OTP_EXPIRATION:300000}
  phone-prefix: ${APP_PHONE_PREFIX:+91}
  sms:
    enabled: ${APP_SMS_ENABLED:true}
    provider: ${APP_SMS_PROVIDER:twilio}
    twilio:
      account-sid: ${TWILIO_ACCOUNT_SID:}
      auth-token: ${TWILIO_AUTH_TOKEN:}
      from-number: ${TWILIO_FROM_NUMBER:+12052674639}

  cors:
    allowed-origins:
      - "https://blinx-app.netlify.app"
      - "http://localhost:8080"

api:
  server:
    # Here I have to use service DNS or public URL instead of localhost
    url: ${API_SERVER_URL:http://chat-service:8080}

ai:
  provider: ${AI_PROVIDER:openai}
  api-key: ${AI_API_KEY:}
  base-url: ${AI_BASE_URL:https://api.openai.com}
  model: ${AI_MODEL:gpt-4o-mini}

  mcp:
    client:
      enabled: ${MCP_CLIENT_ENABLED:true}
      servers:
        name: chat-service-mcp-server
        type: SYNC
        example-server:
          transport: stdio
          command: node
          args:
            - ./mcp-server/index.js
          env:
            NODE_ENV: production

logging:
  file:
    name: ${LOG_FILE_PATH:./logs/chat-service-mcp.log}
